:root {
  --default-green: #73007e;
  --light-green: #73007e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Utility Classes */
.btn-primary {
  background: var(--default-green);
  color: white;
  text-transform: uppercase;
  padding: 15px 60px;
  border: none;
  border-radius: 30px;
  letter-spacing: 1px;
  font-weight: bold;
  transition: all 300ms ease;
}

.btn-primary:hover {
  background: var(--light-green);
  cursor: pointer;
}

.logo {
  height: 40px;
  width: auto;
  border-radius: 30px;
}
.cartao {
  height: 100px;
  width: 300px;
  border-radius: 30px;
  margin: auto;
}
.check {
  height: 30px;
  width: auto;
}

/* Navbar */
#navbar {
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar .navbar-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

#navbar .navbar-container ul {
  display: flex;
  list-style: none;
  font-weight: bold;
}

#navbar .navbar-container ul li {
  padding: 0 20px;
  transition: all 300ms ease;
}

#navbar .navbar-container ul li:hover {
  color: #73007e;
  cursor: pointer;
}

#navbar .navbar-container ul li:nth-child(3) {
  border-right: 1px solid blueviolet;
}

/* Showcase */
#showcase {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background: url("/img/musica.webp") center center/cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: color;
}

#showcase .showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#showcase .showcase-container h2 {
  font-size: 5rem;
}

#showcase .showcase-container p {
  margin: 15px 0;
  font-size: 1.1rem;
}

/* Footer */
#footer {
  background: black;
  color: rgb(255, 253, 253);
  padding: -50px 0px;
}

/* Footer Socials */
.socials {
  display: flex;
}

.socials i {
  margin: 0 20px;
  font-size: 1.7rem;
  transition: all 300ms ease;
}

.socials i:hover {
  color: var(--default-green);
  cursor: pointer;
}

#menu-premium {
  position: absolute;
  right: 500px;
  top: 60px;
  background-color: #71773e;
  text-align: center;
  font-family: arial;
  font-size: 10pt;
  color: #73007e;
  display: none;
}
/* incio do contato */
footer form {
  width: 40%;
  padding: 10px;
  background-color: rgb(3, 3, 3);
  margin-left: auto;
  margin-right: auto;
  display: none;
}
footer form input[type="text"],
footer form input[type="email"],
footer form input[type="tel"],
footer form select,
footer form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 0px;
  border-bottom: 5px solid #73007e;
  border-radius: 5px;
  display: block;
}
footer form input[type="tel"],
footer form select {
  width: 30%;
}
footer form textarea {
  height: 200px;
  border: 5px solid #73007e;
  margin-bottom: 10px;
}
footer form input[type="submit"] {
  padding: 10px;
  border-radius: 0px;
  background-color: #73007e;
  font-weight: bold;
  cursor: pointer;
  color: white;
  margin-left: 85%;
}
#mapa iframe {
  height: 500px;
  width: 100%;
}
/* ======================================= */
footer form {
  width: 40%;
  padding: 10px;
  background-color: rgb(3, 3, 3);
  margin-left: auto;
  margin-right: auto;
  display: none;
}
footer form input[type="text"],
footer form input[type="email"],
footer form input[type="tel"],
footer form select,
footer form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 0px;
  border-bottom: 5px solid #73007e;
  border-radius: 5px;
  display: block;
}
footer form input[type="tel"],
footer form select {
  width: 30%;
}
footer form textarea {
  height: 200px;
  border: 5px solid #73007e;
  margin-bottom: 10px;
}
footer form input[type="submit"] {
  padding: 10px;
  border-radius: 0px;
  background-color: #73007e;
  font-weight: bold;
  cursor: pointer;
  color: white;
  margin-left: 85%;
}
#mapa iframe {
  height: 500px;
  width: 100%;
}

/* ============================================= */
#planos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}

.ppremium {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16pt;
  width: 40%;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  margin: 10px;
}
.ppremium h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10pt;
  background-color: #73007e;
  padding: 5px;
  color: #eee;
}
